{% extends "index.html" %} {% block title %}Home{% endblock %}

{% block content %}

<html>

<head>
    <style>
        .line-break {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="line-break"></div>
    <h1>Mandri Puodai</h1>
    <p>"Mandri Puodai" is a company of friends who usually talk about the kitchen, food, its taste and experiments.</p>
    <p>All members of the team, for a shorter or longer period of time, lived abroad and had the opportunity to get
        to know not only the Western cuisine but also touch the exoticism of Asia. Food for us is not just a source
        of survival. We love it, experiment with it, play with it, taste it, share it and enjoy it.</p>
    <p>As the perception of taste is personal, so are the celebrations - individual. We tailor the menu to you, taking
        into account your desires and ideas. We cook from fresh and seasonal products.</p>
    <p>If you want to learn more about us - write or call us. Let's have a fun chat :)</p><br>

    <p>ADDRESS: J. Biliūno g. 17, Anykščiai.</p>
    <p>PHONE: 370 611 82866</p>
    <p>EMAIL: mandripuodai@gmail.com</p>
</body>

</html>

{% endblock %}